.signin-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border : 2px solid rgb(8, 20, 87);
    border-radius: 15px;

    // padding: 10px;
    position: relative;
    top : 200px;
    width : 40%;
    height: 350px;

    .group-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width : 100%;
        margin : 10px;

        input {
            border: 1px solid rgb(51, 48, 204);
            // height: 40px;
            // width : 120px;
            border-radius: 5px;
            padding: 5px ;
        }

        

    }
}