.card-container{
    display: flex;
    // flex-direction: row;
    // align-items: center;
    // margin: 50px 0;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width : 90%;
    margin : 10px auto;

    card{
        margin : 0 10% !important;
    }

    .infected{
        border-bottom: 10px solid rgba(0, 0, 255, 0.5);
      
    }
    .recovered{
        border-bottom: 10px solid rgba(0, 255, 0, 0.5);
    }
    .deaths{
        border-bottom: 10px solid rgba(255, 0, 0, 0.5);
    }
}





@media(max-width:770px){
    .card {
        margin : 2% 0 !important;
    }
}