.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 2px 20px;
    width : 90%;

    .form-body{
        display: flex;
        flex-direction: column;
        width : 95%;

        .form-item{
            border : 1px solid rgb(75, 75, 218);
            height : 50px;
            width : 90%;
            margin : 5px;
            padding : 5px;
        }

    }
    
}