.app {
  display : flex;
  width : 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}
.compos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 90%;
  margin : 2px auto

}



/* 
@media (max-width : 770px) {
  .container {
    margin : 0 10%;
  }
} */


